p, h1, h4 {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

#webgen_title{
	font-size: 17.5vh;
	margin-top: 27.5vh;
}

#scroll_info{
	font-size: 3vh;
	margin-top: 85vh;
	display: none;
}

#code_slide{
	width: 100vw;
	height: auto;
}

#code_box{
	width: 70vw;
	height: 600px;
	margin-top: 140px;
	padding: 20px;
	border-radius: 10px;
	font-size: 3vh;
	margin-left: 150vw;
}

#code_box > p {
	font-size: 2vh;
}

#code {
	width: 100%;
	height: auto;
	white-space: pre-wrap;
}

#doc{
	width: 60vw;
	height: auto;
	margin-top: 725px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 150vw;
}

#doc_title{
	font-size: 4vh;
	display: inline;
}

#doc_description{
	font-size: 2vh;
	padding: 2vh;
}

#tutorial_title{
	font-size: 3vh;
	padding: 1vh;
	width: 100%;
}

#doc_content_frame{
	width: 100%;
	height: auto;
	padding: 25px;
}

.code_block{
	white-space: pre-wrap;
	background-color: rgba(60,60,60,1);
	color: #23d5ab;
	padding: 10px;
	overflow-x: auto;
	font-family: Courier New;	
}