.button{
	position: relative;
	display: inline-block;
	padding: var(--button-padding);
	cursor: pointer;
	color: var(--accent-color);
	text-decoration: none;
	font-size: 18px;
	filter: var(--shadow);
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	width: var(--button-width);
	min-width: var(--button-min-width);
	border-radius: var(--button-radius);
	text-align: center;
}

.button > p{
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.button-inverse, .button:hover{
	background-color: var(--accent-color);
	color: var(--primary-color);
}

.button-inverse:hover{
	background-color: var(--primary-color);
	color: var(--accent-color);
}

.button-underline{
	border: 0px solid var(--primary-color);
	border-bottom: 5px solid var(--accent-color);
}

.button-underline:hover{
	background-color: var(--primary-color);
	color: var(--accent-color);
	border-bottom: 5px solid var(--primary-color);
}

.button-underline.button-inverse {
	background-color: var(--primary-color);
	color: var(--accent-color);
	border-bottom: 5px solid var(--accent-color);
}

.button-underline.button-inverse:hover {
	border-bottom: 5px solid var(--primary-color);
}

.button-gradient{
	border: 3px solid transparent;
	background-image: linear-gradient(var(--primary-color), var(--primary-color)), 
                    linear-gradient(var(--button-gradient));
	background-size: 400% 400%;
  	background-origin: border-box;
  	background-clip: padding-box, border-box;
}

.button-gradient-inverse{
	border: 3px solid var(--primary-color);
	background-image: linear-gradient(var(--button-gradient)), 
                    linear-gradient(var(--primary-color), var(--primary-color));
	background-size: 400% 400%;
  	background-origin: border-box;
  	background-clip: padding-box, border-box;
	color: var(--accent-color);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 150% 50%;
	}
}

.button-gradient:hover, .button-gradient-inverse:hover{
	animation: gradient 1s ease;
	color: white;
}
