.nav{
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
	border-bottom: var(--border-width) solid var(--accent-color);
}

.navtable{
	width: 80vw;
	height: auto;
}

.navbrand{
	height: auto;
	width: auto;
	padding: 5px;
	display: flex;
	align-items: center;
	color: black;
	text-decoration: none;
}

.navlogo{
	height: var(--logo-height);
	width: auto;
	display: inline;
}

.navtitle{
	font-size: 26px;
	width: auto;
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
	margin-block-start:0em;
	margin-block-end: 0em;
	font-weight: 500;
	white-space: nowrap;
}

.navmenubar{
	width: auto;
	display: var(--nav-display-5000);
	flex-direction: row;
	justify-content: center;
	gap: 2vw;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
	float: var(--navmenubar-float);
}

#navtabletype1_0_0, #navtabletype2_0_0{
	vertical-align: top;
}

#navtabletype1_0_1, #navtabletype1_0_2, #navtabletype2_0_1, #navtabletype2_0_2{
	vertical-align: middle;
}

#navmenuicon{
	display: var(--menu-display-5000);
	float: right;
}

#headermenu{
	float: right;
	width: 100%;
	max-width: 300px;
	display: var(--menu-display-5000);
	justify-content: center;
	opacity: 0.75;
	margin-right: 3vw;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow-y: hidden;
}

#headermenutable{
	opacity: 1;
	width: 100%;
}

#headermenutable > header> div{
	padding: 3px;
	text-align: center;
}

@media only screen and (max-width:1000px) {
	.navtable{
		width: 95vw;
		margin-right: 2.5vw;
	}
	.navmenubar{
		display: var(--nav-display-1000);
	}
	#navmenuicon{
		display: var(--menu-display-1000);
	}
	#headermenu{
		display: var(--menu-display-1000);
	}
}

@media only screen and (max-width: 750px) {
	.navmenubar{
		display: var(--nav-display-750);
	}
	#navmenuicon{
		display: var(--menu-display-750);
	}
	#headermenu{
		display: var(--menu-display-750);
	}
}

@media only screen and (max-width: 500px) {
	.navmenubar{
		display: var(--nav-display-500);
	}
	#navmenuicon{
		display: var(--menu-display-500);
	}
	#headermenu{
		display: var(--menu-display-500);
	}
}

@keyframes navmenutoggle1-1{
	0% {
    		transform: rotate(0deg) translate(0px,0px);
  	}
	100% {
		transform: rotate(45deg) translate(7px,-4px);
	}
}

@keyframes navmenutoggle2-1{
	0% {
    		transform: rotate(0deg) translate(0px,0px);
  	}
	100% {
		transform: rotate(-45deg) translate(-17px,7px);
	}
}

@keyframes navmenutoggle3-1{
	0% {
    		opacity: 1;
		transform: translate(0px,0px);
  	}
	100% {
		opacity: 0;
		transform: translate(0px, -10px);	
	}
}
@keyframes navmenutoggle1-2{
	0% {
		transform: rotate(45deg) translate(7px,-4px);
  	}
	100% {
		transform: rotate(0deg) translate(0px,0px);	
	}
}

@keyframes navmenutoggle2-2{
	0% {
		transform: rotate(-45deg) translate(-17px,7px);
  	}
	100% {
		transform: rotate(0deg) translate(0px,0px);
	}
}

@keyframes navmenutoggle3-2{
	0% {
    		opacity: 0;
		transform: translate(0px, -10px);	
  	}
	100% {
		opacity: 1;
		transform: translate(0px,0px);
	}
}


.navmenutoggle1-1{
	animation: navmenutoggle1-1 0.5s linear 1;
}

.navmenutoggle2-1{
	animation: navmenutoggle2-1 0.5s linear 1;
}

.navmenutoggle3-1{
	animation: navmenutoggle3-1 0.5s linear 1;
}

.navmenutoggle1-2{
	animation: navmenutoggle1-2 0.5s linear 1;
}

.navmenutoggle2-2{
	animation: navmenutoggle2-2 0.5s linear 1;
}

.navmenutoggle3-2{
	animation: navmenutoggle3-2 0.5s linear 1;
}

.navmenutoggle1-static{
	transform: rotate(45deg) translate(7px,-4px);
}

.navmenutoggle2-static{
	transform: rotate(-45deg) translate(-17px,7px);
}

.navmenutoggle3-static{
	opacity:0;
	transform: translate(0px, -10px);	
}