.nav{
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
}

.navtable{
	width: 80vw;
	height: auto;
}

.navbrand{
	height: auto;
	width: auto;
	padding: 5px;
	display: flex;
	align-items: center;
}

.navlogo{
	height: var(--logo-height);
	width: auto;
	display: inline;
}

.navtitle{
	font-size: 2.5vh;
	width: auto;
	display: inline;
	padding-left: 3vh;
	padding-right: 3vh;
	margin-block-start:0em;
	margin-block-end: 0em;
	font-weight: 500;
	white-space: nowrap;
}

.navmenubar{
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
}

#navtabletype1_0_0{
	vertical-align: top;
}

#navtabletype1_0_1, #navtabletype1_0_2{
	vertical-align: middle;
}

#navmenuicon{
	display: none;
	float: right;
}

@media only screen and (max-width:1000px) {
	.navtable{
		width: 95vw;
	}
	.navmenubar{
		display: var(--nav-display-1000);
	}
	#navmenuicon{
		display: var(--nav-display-1000);
	}
}

@media only screen and (max-width: 750px) {
	.navmenubar{
		display: var(--nav-display-750);
	}
	#navmenuicon{
		display: var(--nav-display-750);
	}
}

@media only screen and (max-width: 500px) {
	.navmenubar{
		display: var(--nav-display-500);
	}
	#navmenuicon{
		display: var(--nav-display-500);
	}
}

