body{
	height: 3000px;
}

#navtitle{
	font-weight: 500;
	font-family: Courier New;
	font-size: 35px;
	padding-right: 10px;
	white-space: pre-wrap;
	line-height: 1.0;
}

.navbutton{
	border-top: 0px solid black !important;
	border-bottom: 0px solid black !important;
}

.navbutton:hover{
	border-left-color: white !important;
	border-right-color: white !important;
}

.navmenubar{
	width: 100% !important;
	padding: 10px !important;
}

#logo #nav{
	width: auto;
}

#logo #nav section{
	width: auto;
}

#logo .navbrand{
	position: absolute;
	background-color: white;
	padding-left: 20px;
	padding-right: 10px;
}

.navlogodynamic{
	--navlogorotate: 0deg;
	-webkit-transform: rotate(var(--navlogorotate)) !important;
  	-moz-transform: rotate(var(--navlogorotate)) !important;
  	-ms-transform: rotate(var(--navlogorotate)) !important;
  	transform: rotate(var(--navlogorotate)) !important;
	height: var(--navlogoheight) !important;
}

.navlogostatic{
	-webkit-transform: rotate(-90deg) !important;
  	-moz-transform: rotate(-90deg) !important;
  	-ms-transform: rotate(-90deg) !important;
  	transform: rotate(-90deg) !important;
	height: 160px !important;
}

.navbranddynamic{
	--navbrandheight:auto;
	height: var(--navbrandheight) !important;
}

.navbrandstatic{
	--navbrandheight:auto;
	height: var(--navbrandheight) !important;
}

@media only screen and (max-width:1250px) {
	#navlogo{
		margin-left: 50px;
	}
}